svg {
  box-sizing: border-box;
  border: solid 2px yellow;
  background-color: azure;
  box-shadow: 0px 10px 14px -7px #276873;
}

text {
  position: relative;
  width: 100%;
  height: 100%;
}

button {
  width: 100%;
  height: 95%;
  font-size: 4vmin;
  border-radius: 50px;
  box-shadow: 0px 10px 14px -7px #276873;
}

button:hover:enabled {
  position: relative;
  top: 3px;
}

/* origin size 71 x 14 */
/* position x 876.797, y 455.531 */
div.r_sunk {
  position: absolute;
  top: 50.8%;
  left: 69.2%;
  width: 6.640625%;
  height: 13.57421875%;
}

img.r_sunk {
  width: 100%;
  height: 100%;
}

/* origin size 106 x 221 */
/* position x 1167.36, y 490.701 */
div.r_stove {
  position: absolute;
  top: 49%;
  left: 91.7%;
  width: 8.28125%;
  height: 21.58203125%;
}

img.r_stove {
  width: 100%;
  height: 100%;
}

img.r_smoke {
  position: relative;
  top: -128.9%;
  left: 25%;
  width: 56%;
  height: 70%;
  /* visibility: hidden; */
}

/* origin size 454 x 653 */
/* origin is too big change to 112 x 159.984 */
/* position x 125.438, y 194.56 */
div.r_paint {
  position: absolute;
  top: 19%;
  left: 9.8%;
  width: 41.640625%;
  height: 9.66796875%;
}

img.r_paint {
  height: 100%;
  width: 100%;
}

/* origin size 107 x 191 */
/* position x 1173.75, y 276.48 */
div.r_hood {
  position: absolute;
  top: 27%;
  left: 91.7%;
  width: 8.359375%;
  height: 18.65234375%;
}

img.r_hood {
  width: 100%;
  height: 100%;
}

/* origin size 200 x 205 */
/* position x 1173.75, y 276.48 */
img.r_win {
  width: 100%;
  height: 100%;
}

div.r_win {
  position: absolute;
  top: 29%;
  left: 45%;
  width: 15.625%;
  height: 20.01953125%;
}

div.r_clean {
  position: absolute;
  width: 8%;
  height: 16%;
  top: 57.8%;
  left: 51.5%;
}

img.r_cleaner_1 {
  position: absolute;
  top: -60%;
  left: 0%;
}

img.r_cleaner_2 {
  position: absolute;
  top: -30%;
  left: 45%;
}

img.r_cleaner_3 {
  position: absolute;
  top: -60%;
  left: 70%;
}

div.d_c_b {
  position: absolute;
  width: 37.109375%;
  height: 14.453125%;
  top: 70%;
  left: 15%;
}

img.r_carpet {
  width: 100%;
  height: 100%;
}

div.r_spray_1 {
  position: absolute;
  top: 79%;
  left: 1%;
  width: 10%;
  height: 11.23046875%;
}

/* origin size 128 x 115 */
img.r_spray_1 {
  width: 100%;
  height: 100%;
}

div.d_f_b {
  position: absolute;
  width: 18%;
  height: 20.5%;
  top: 69%;
  left: 63%;
}

img.f_b_1 {
  position: absolute;
  top: -30%;
  left: 5%;
  width: 53.82178045922132%;
  height: 80.87633087633088%;
}

img.f_b_2 {
  position: absolute;
  top: 40%;
  left: -10%;
}

img.f_b_3 {
  position: absolute;
  top: 28%;
  left: 50%;
}

div.d_s_b {
  position: absolute;
  width: 21%;
  height: 30%;
  top: 40%;
  left: 19%;
  display: block;
}

img.s_b_1 {
  position: absolute;
  top: -50%;
  left: 25%;
  width: 46.13095238095238%;
  height: 55.26601140298716%;
}

img.s_b_2 {
  position: absolute;
  top: -26%;
  left: -10%;
}

img.s_b_3 {
  position: absolute;
  top: -12%;
  left: 60%;
}

img.r_table {
  position: absolute;
  width: 11.875%;
  height: 15.91796875%;
  top: 63%;
  left: 25%;
}

img.r_chair {
  position: absolute;
  width: 37.109375%;
  height: 14.453125%;
  top: 65%;
  left: 11%;
}

img.r_bar {
  position: absolute;
  top: 60.2%;
  left: 82%;
  width: 6.640625%;
  height: 6.25%;
}

/* Ripple Out */
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out {
  /*display: inline-block;*/
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-ripple-out:before {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  animation-duration: 1s;
}

.hvr-ripple-out:hover:before,
.hvr-ripple-out:focus:before,
.hvr-ripple-out:active:before {
  border: #e1e1e1 solid 3px;
  /* animation-name: hvr-ripple-out; */
  animation: hvr-ripple-out 1s linear infinite;
}

.hvr-ripple-out-active:before {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border: #e1e1e1 solid 3px;
  animation: hvr-ripple-out 1s linear infinite;
}

.msg_b {
  position: absolute;
  top: 0%;
  left: 31%;
  border: solid 2px yellow;
  border-radius: 10px;
  background-color: azure;
  height: 15%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  z-index: 3;
}

.no_event {
  pointer-events: none !important;
}
